<ion-view title="Choix" id="page50">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 57px;"></div>
        <h4 id="choix-heading8" style="color:#000000;text-align:center;">Que voulez vous faire :</h4>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div class="spacer" style="width: 285px; height: 4px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>

        <a ui-sref="rechercherVotreCours" id="choix-button6" style="border-radius:6px 6px 6px 6px;" class="button button-balanced button-large button-block">choisir un cours</a>

            <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div class="spacer" style="width: 285px; height: 4px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <a ui-sref="notif" id="choix-button7" class="button button-balanced button-large button-block">Notification</a>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div class="spacer" style="width: 285px; height: 4px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <a ui-sref="modifprofil" id="choix-button8" class="button button-balanced button-large button-block">Profil</a>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div class="spacer" style="width: 285px; height: 4px;"></div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <a ui-sref="connexion" id="choix-button9" class="button button-assertive button-large button-block">Deconnexion</a>

    </ion-content>
</ion-view>