<ion-view title="Choix du cours" id="page8">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="choixDuCours-list14">
      <ion-item class="item-icon-left dark" id="choixDuCours-list-item18">
        <i class="icon ion-android-arrow-back"></i>Retour</ion-item>
      <ion-item class="item-thumbnail-left dark" id="choixDuCours-list-item17">
        <img src="img/JBcdiWvQOaIZeCgUFsMH_jospeh.png">
        <h2dark>Jonathan Joseph
          <p style="white-space:normal;">50€/h - Professeur de mathématique à l'UPMC.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="choixDuCours-list-item19" href="mailto:">
        <img src="img/thZqhjWQienKm5zlfb90_IMG_0710.PNG">
        <h2>Marzouck Soumanou</h2>
        <p style="white-space:normal;">65€/h - Étudiant en école d'ingénieur à l'ISEP.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="choixDuCours-list-item7">
        <img src="img/OrqO4IUfTVWngATU1l9A_IMG_0756.PNG">
        <h2dark>Kevin Raharion
          <p style="white-space:normal;">50€/h - Professeur des écoles dans une école primaire.</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>