<ion-view title="Choix" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <h4 id="choix-heading8" style="color:#000000;text-align:center;">Inscrivez vous en tant que* :</h4>
    <div class="spacer" style="width: 285px; height: 13px;"></div>
    <a ui-sref="inscrivezVous" id="choix-button6" style="border-radius:6px 6px 6px 6px;" class="button button-balanced button-large button-block">Professeur TeechMe</a>
    <div class="spacer" style="width: 285px; height: 4px;"></div>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <a ui-sref="inscrivezVousE" id="choix-button7" class="button button-balanced button-large button-block">Eleve TeechMe</a>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="choix-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Professeur vous avez aussi la posibilité de prendre des cours. Elève vous pouvez devenir professeur grâce à l'option disponible dans vos réglages.</p>
    </div>
  </ion-content>
</ion-view>