<ion-view title="Confirmation" id="page11">
  <ion-content padding="true" class="has-header">
    <form method="POST" action="#/page50"class="list">
    <ion-list id="confirmation-list18">
      <ion-item class="item-icon-left item-icon-right balanced" id="confirmation-list-item25">
        <i class="icon No Icon"></i>Proposition envoyée
        <i class="icon ion-checkmark"></i>
      </ion-item>
    </ion-list>
    <input id="connexion-button3" class="button button-balanced  button-block" type="submit" name="formconnexion" value="Retour au choix">
    </form>
  </ion-content>
</ion-view>