<ion-view title="demander" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/aXurXCSsRXelDFUhMne9_images.jpeg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="demander-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Eric Dupont</strong>
      </p>
    </div>
    <div id="demander-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Professeur de mathématique à l'UMPC.</p>
    </div>
    <div id="demander-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>50€/h</strong>
      </p>
    </div>
    <div id="demander-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Proposer 3 crénaux à Eric.</p>
    </div>
    <ion-list id="demander-list12">
      <ion-item class="item-icon-left item-icon-right" id="demander-list-item12">
        <i class="icon ion-android-calendar"></i>Item 1
        <i class="icon ion-android-alarm-clock"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="demander-list-item21">
        <i class="icon ion-android-calendar"></i>Item 2
        <i class="icon ion-android-alarm-clock"></i>
      </ion-item>
    </ion-list>
    <ion-list id="demander-list13">
      <ion-item class="item-icon-left item-icon-right" id="demander-list-item20">
        <i class="icon ion-android-calendar"></i>Item 3
        <i class="icon ion-android-alarm-clock"></i>
      </ion-item>
    </ion-list>
    <div id="demander-markdown18" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Durée :</strong> 2 heures</p>
    </div>
    <div id="demander-markdown19" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Total :</strong> 100€</p>
    </div>
    <a ui-sref="confirmation" id="demander-button14" class="button button-positive  button-block">Envoyer la demande !</a>
  </ion-content>
</ion-view>