<ion-view title="Inscrivez-vous !" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/CVFRIXRMM8KDFwadDTQA_logo2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="inscrivezVous-form6" class="list">
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <ion-list id="inscrivezVous-list26">
        <label class="item item-input" id="inscrivezVous-input6">
          <span class="input-label">Nom :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="inscrivezVous-input7">
          <span class="input-label">Prénom :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="inscrivezVous-input8">
          <span class="input-label">Email :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="inscrivezVous-input9">
          <span class="input-label">Password :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="inscrivezVous-input10">
          <span class="input-label">Confirmer Password :</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <a ui-sref="connexion" id="inscrivezVous-button24" class="button button-balanced  button-block">S'inscrire !</a>
    </form>
  </ion-content>
</ion-view>