<ion-view title="Liste de vos cours" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/KQjz3tRYRCGT2gmcqEOJ_Lion.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="listeDeVosCours-markdown39" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Nicola Dupont</strong>
      </p>
    </div>
    <div id="listeDeVosCours-markdown40" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Professeur de mathématiques à l'UMPC</p>
    </div>
    <div id="listeDeVosCours-markdown41" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>50€/h</strong>
      </p>
    </div>
    <div class="spacer" style="width: 285px; height: 18px;"></div>
    <ion-list id="listeDeVosCours-list25">
      <ion-item id="listeDeVosCours-list-item41">Jonathan Jospeh
        <span class="item-note">Mathématique 2h</span>
      </ion-item>
      <ion-item id="listeDeVosCours-list-item42">Marzouck Soumanou
        <span class="item-note">Physique 4h</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>